language: go

go:
  - 1.9
  - tip

group: bluezone

matrix:
  fast_finish: true
  allow_failures:
  - go: tip

cache:
  bundler: true

sudo: true

# safelist
branches:
  only:
  - master

before_install:
  - sudo sudo curl https://glide.sh/get | sh
  - sudo apt-get install bc

before_script:
  - make block-storage-attacher/deps
  - go get github.com/pierrre/gotestcover

script:
  - make block-storage-attacher

after_success:
  - ./scripts/calculateCoverage.sh || travis_terminate 1;
  - ./scripts/publishCoverage.sh || travis_terminate 1;
after_failure:
  - ./scripts/handleFailure.sh

