language: go

go:
  - 1.15.2
  - tip

group: bluezone

matrix:
  fast_finish: true
  allow_failures:
  - go: tip

cache:
  bundler: true

sudo: true

# safelist
branches:
  only:
  - master

before_install:
  - git config --global url."https://$GHE_USER:$GHE_TOKEN@github.com/".insteadOf "https://github.com/"
  - sudo sudo curl https://glide.sh/get | sh
  - sudo apt-get install bc

before_script:
#  - make block-storage-attacher/deps
  - go get github.com/pierrre/gotestcover

script:
  - make block-storage-attacher

after_success:
  - ${TRAVIS_HOME}/gopath/src/github.com/IBM/ibmcloud-storage-utilities/block-storage-attacher/scripts/calculateCoverage.sh || travis_terminate 1;
  - ${TRAVIS_HOME}/gopath/src/github.com/IBM/ibmcloud-storage-utilities/block-storage-attacher/scripts/publishCoverage.sh || travis_terminate 1;
after_failure:
  - ${TRAVIS_HOME}/gopath/src/github.com/IBM/ibmcloud-storage-utilities/block-storage-attacher/scripts/handleFailure.sh
